* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;

  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;

  color: #000000cc;
}

header ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  list-style: none;
  height: 100%;
  grid-gap: 10px;
}

header .left-menu ul {
  justify-content: left;
}

header .right-menu ul {
  justify-content: right;
}

header .menu-icon {
  width: 25px;
}

header .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 20px;
}

main .logo {
  width: 300px;
}

main .search-bar {
  border: solid 1px #00000030;
  border-radius: 20px;
  width: 400px;
  font-size: 1rem;
  padding: 10px 20px;
}

main .search-bar:focus {
  outline: none;
  box-shadow: 0 0 5px 1px #00000020;
}

main .buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}

main .buttons button {
  padding: 7px 13px;
  border: none;
  border-radius: 3px;
  color: #000000bb;
  font-size: 0.85rem;
}

footer {
  background-color: rgb(233, 233, 233);
  display: grid;
  align-content: center;
  justify-content: left;
  padding: 0 20px;
}

footer .country {
  font-size: 1rem;
  color: #000000cc;
}
